.collapse {
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 582px;
}

/* Partie supérieure (bouton) */
.collapse-titre {
    background-color: #ff6060; 
    color: white; 
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 20px; 
    height: 52px; 
    border-radius: 10px; 
    box-sizing: border-box;
    position: relative; 
    z-index: 1;
}

.collapse-icone {
    font-size: 16px;
    color: white; 
}

/* Contenu du Collapse */
.collapse-contenu {
    background-color: #eaeaea; 
    padding: 20px;
    position: relative; 
    z-index: 0; 
    border-radius: 0 0 10px 10px; 
    margin-top: -10px; /* Ajuste la marge pour combler le border-radius */
    padding-top: 30px; /* Ajuste le padding pour combler le border-radius */
}

/* Cibler tous les éléments de texte à l'intérieur du contenu */
.collapse-contenu * {
    color: white !important; 
    font-size: 16px !important; 
    display: block; 
    margin: 0; 
    padding: 0; 
}




