.collapse {
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box; 
}

.collapse-titre {
    background-color: #ff6060; 
    color: white; 
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 20px; 
    height: 52px; 
    border-radius: 10px; 
    box-sizing: border-box;
    position: relative; 
    z-index: 1;
}

.collapse-icone {
    font-size: 16px;
    color: white; 
}

.collapse-contenu {
    background-color:#E3E3E3;; 
    padding: 20px;
    position: relative; 
    z-index: 0; 
    border-radius: 0 0 10px 10px; 
    margin-top: -10px; /* Ajuste la marge pour combler le border-radius */
    padding-top: 30px; /* Ajuste le padding pour combler le border-radius */
}

.collapse-contenu * {
    color: black !important; 
    font-size: 16px !important; 
    display: block; 
    margin: 0; 
    padding: 0; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 420px) {
    .collapse-titre {
        font-size: 13px;
        height: 30px;
    }

    .collapse-contenu * {
        font-size: 10px !important; 
    }
   
}