.header-conteneur {
  margin: 0 auto;
  padding: 50px 109px 50px 109px;
  max-width: 1200px;
  box-sizing: border-box;
}

.enteteConteneur {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  width: 210.32px;
  height: 68px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 57px;
}

a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
}
