.apropos-conteneur {
    margin: 0 auto;
    max-width: 1240px;
    box-sizing: border-box;
  }

.image-titre-apropos{
    height: 225px;
    width: 1240px;
    border-radius: 25px;
    background-image: url('/public/imageEnteteAPropos.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.collapse-conteneur-apropos{
    padding: 50px 0;
    width: 1023px;
    margin: 0 auto;
}