* {
    margin:0;
    padding-left:10px;
    padding-right: 10px;
    padding-top:5px;
    padding-bottom: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #FF6060;
  
}

body {
    max-width: 1440px;
    
  }