footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.conteneur-footer {
    background-color: black;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}

.logo-footer {
    margin-top: 3.5%;
    margin-bottom: 2.7%;
    filter: brightness(0) invert(1);
    width: 122px;
    height: 39.44px;
}

.footer-paragraphe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-paragraphe p,
.footer-paragraphe p .footer-ligne{
    color: white;
    font-weight: 500;
    line-height: 34.22px;
    font-size: 24px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  
  .footer-paragraphe p,
  .footer-paragraphe p .footer-ligne {
    font-size: 18px;
    line-height: 17.11px;
  }

  .conteneur-footer {
    height: 209px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
  }

 
}

/* Small devices (phones, less than 420px) */
@media (max-width: 420px) {
  .footer-paragraphe p,
  .footer-paragraphe p .footer-ligne {
    font-size: 12px;
    line-height: 17.11px;
  }

  .conteneur-footer {
    height: 209px;
    gap:20px
  }

  .footer-paragraphe {
    display: block;
    text-align: center;
  }

  .footer-paragraphe p .footer-ligne {
    display: block;
  }
}